# Data and Log Directories
data/
*.log
*.tmp
*.zip
*.docx

# Python Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.scratch/

# Environments
.env
venv/
ENV/
env/

# OS specific files
.DS_Store
Thumbs.db
